<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
  <meta name="copyright" content="&#169; 2013 Onegini"/>
  <title>#springMessage("example.title") - Velocity</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
</head>
<body>
<div class="container-fluid">
  <div class="page-header">
    <h1>#springMessage("example.title") - Velocity</h1>
  </div>
  <form action=/velocity method=post class=form-horizontal>
    <div class=control-group>
      <label for=name class=control-label>#springMessage("example.name")</label>

      <div class=controls>
        #springFormInput("form.name", "class=input-xlarge")
      </div>
    </div>

    <div class=control-group>
      <label for=email class=control-label>#springMessage("example.email")</label>

      <div class=controls>
        #springBind("form.email")
        <input type=email name=${status.expression} id=email placeholder="#springMessage("example.email.placeholder")"
               value="$!status.value" class=input-xlarge>
      </div>
    </div>

    <div class=control-group>
      <label for=word class=control-label>#springMessage("example.pick-word")</label>

      <div class=controls>
        #springBind("form.word")
        <select id=word name="$status.expression">
          #foreach($word in ${words})
            <option value="$escapeTool.escapeXml(${word})"
              #if("$!status.value" == ${word})
                    selected="selected"
              #end>
              $escapeTool.escapeXml(${word})</option>
          #end
        </select>
      </div>
    </div>

    <div class=control-group>
      <div class=controls>
        <input type=submit class="btn btn-primary" value="#springMessage("example.submit")">
      </div>
    </div>

  </form>
</div>
</body>
</html>